@{
    ViewBag.Title = "IndexMobile";
    Layout = "~/Views/_Layout/_Mobile.cshtml";
}

<div class="bg-silver">
    <div class="main-header">
        <div class="btn-panel mb-2 mt-2 d-inline-block">
            <a href="@Url.Action("IndexMobile","Home")" class="btn btn-outline-info" style="border-bottom-right-radius: 0; border-top-right-radius: 0;">Подписки</a>
            <a href="@Url.Action("FiltersMobile","Home")" class="btn btn-info" style="border-bottom-left-radius: 0; border-top-left-radius: 0; margin-left: -4px">Фильтры</a>
        </div>
    </div>
</div>
