body, html {
    height: 100%;
    display: block;
}

.bg-blue {
    /*background: url(data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 …#b)" d="M201.189 48v92.13H1V92.179z" transform="translate(-1)"/></g></svg>) #2496ca no-repeat;*/
    /*background-size: cover;*/
    padding: 50px 10px;
    /*background-position-y: -23vw;*/
    background: linear-gradient(to bottom, #2496ca, #2a7496);
}

.bg-silver {
    background: #ebebeb;
}


.img-logo {
    max-width: 145px;
    /*width: 50%;*/
    height: auto;
    margin-bottom: 20px;
}

.content-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.btn-rounded {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid rgba(230, 230, 230, 0.35);
    color: white;
    width: 100%;
}

.main-header {
}

.main-container {
    display: flex;
}

.main-pub-items {
    width: 100%;
    display: flex;
    flex-flow: column;
}

    .main-pub-items .item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
        background-color: white;
        min-height: 118px;
        height: 100%;
    }

        .main-pub-items .item .bg {
            width: 10px;
            height: 100%;
            flex: 0 0 auto;
        }

.blue {
    background-color: #0c70b9;
    color: #248ad5;
}

.purple {
    background-color: #8717b7;
    color: #a130d1;
}

.green {
    background-color: #169c25;
    color: #25b535;
}

.main-pub-items .item .img {
    width: 100px;
    flex: 0 0 auto;
    flex-basis: 100px;
    text-align: center;
    margin-left: 15px;
}

.main-pub-items .item .info {
    margin: 15px 0;
}

.main-pub-items .item .info p {
    margin-bottom: 5px;
}

    .main-pub-items .item .img .icon-wrapper {
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
    }

    .main-header {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        color: darkcyan;
        background-color: white;
        min-height: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.17);
        margin-bottom: 10px;
    }

.ig-r .input-group-prepend .input-group-text {
    border-radius: 0 !important;
    color: #2a7496;
    background-color: white;
}

.ig-r .form-control {
    border-radius: 0 !important;
    color: white;
    border-width: 0;
    background-color: #196e94;
}

.ig-r .form-control::placeholder {
    color: white;
}
